
{%load static%}

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="This is what happens when people smoking weed starts scanlating. You get to read buch of manga with wacky stuff.">
        <title>Fire Syndicate</title>
        <link rel="stylesheet" href="{% static "css/layout.css"%}">
        <link rel="author" href="humans.txt">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Raleway:400" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143288270-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-143288270-1');
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->

        {%block head%}

        {%endblock head%}
    </head>
    <body>
        {%block header%} 
        <header>
            <div class="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="site-name">
                <h1>Fire Syndicate</h1>
            </div>
            <nav>
                <ul>
                    <li id="home-link" onclick="goto('{% url 'home' %}')">Home</li>
                    <li id="series-link" onclick="goto('{% url "comic-view"%}')">Series</li>
                    <li onclick="goto('')">Staff</li>
                    <li onclick="goto('https://discord.gg/N5QR9PJ')">Discord</li>
                </ul>
                
                    <form class="search" method="GET" action="/">
                        <input type="text" placeholder="Search" class = "search-bar" name="query" value="{{request.GET.query}}">
                        <img src="{%static 'assets/search-symbol.svg'%}" class="search-icon icon" alt="search icon">
                        <img src="{%static 'assets/accounts-symbol.svg'%}" class="accounts-icon icon" alt="Account icon">
                        <ul class="drop-down" >
                            {%if user.is_authenticated%}
                            <Span>Hi, {{user.username|capfirst}}</span>
                            <li onclick="goto('{%url 'logout'%}')">Logout</li>
                            {%else%}
                            <li onclick="goto('{%url 'login'%}')">Login</li>
                            {%endif%}
                        </ul>
                        </span>
                    </form>
                    {% comment %} <span>
                        {%if user.is_authenticated%}
                        Hi, {{user.username|title}}. <a href="{% url 'logout'%}">Logout</a>
                        {%else%}
                        <a href="{% url 'login'%}">Login</a>
                        {%endif%}
                    </span> {% endcomment %}

            </nav>
            </header>

        {%endblock header%}
        {%block slider%}
        {%endblock slider%}

        <div class="wrapper">
                
            {%block content%}
            
            {%endblock content%}
        </div>
        <script src="{%static 'js/layout.js'%}"></script>
    </body>
</html>