{%extends 'layout.html' %}
{% load widget_tweaks %}
{%load static%}
{%block head%}
<link rel="stylesheet" href="{%static 'css/forms/chapter-upload-form.css'%}">
<title>Upload Chapter | Fire Syndicate</title>
{%endblock head%}


{%block content%}
<section>
<div class="section-heading">Upload Chapter</div>
<form class ="upload-form"method="POST" enctype= "multipart/form-data"> {% csrf_token %}
	{{form.non_field_errors}}
	{{file_form.non_field_errors}}
	{%render_field form.comic id="comic-combo-box"%}
	<p id="comic-title"></p>
	<span>Chapter</span>
	{{form.number.errors}}
	{% render_field form.number id="ch-number" placeholder="##"%}
	{{form.name.errors}}
	{% render_field form.name id="ch-name" placeholder="Name"%}
	<br>
	{{file_form.zip.errors}}
	{% render_field file_form.zip id="zip"%}

	<input type="submit" class="button primary-btn" value="Upload">
</form>
<section>
<script>
	var comboBox =document.querySelector("#comic-combo-box");
	var seriesText = comboBox.options[comboBox.selectedIndex].text;
	document.querySelector("#comic-title").innerText= seriesText;
</script>
{%endblock%}
