{% extends "layout.html" %}

{%load static%}

{%block head%}
	<link rel="stylesheet" href="{% static "css/comic-detail.css"%}">
	<meta name="active-link" value="series-link">
{%endblock head%}

{% block content %}

<h2>{{object_data.title}}</h2>

<div class= "comic-desc-div">
	<div class="comic-cover">
	{%if object_data.cover%}
	<img src= "{{object_data.cover.url}}" height="400" />
	{%endif%}
	</div>
	<div class="comic-desc">
		<p><strong>Author : </strong>{{object_data.author}}</p>
		<p><strong>Artist : </strong>{{object_data.artist}}</p>
		<p><strong>Description :</strong>{{object_data.description|linebreaks}}</p>
		<p><strong>Views : </strong>{{object_data.views_cnt}}</p><br>
		{%if user.is_authenticated%}
		<p><strong><a href="{% url "chapter-create" object_data.pk%}">Upload a Chapter</a></strong></p>
		{%endif%}

	</div>
</div>
<br>

<div id="chapter-container">
	<h2>Chapters</h2>

<table class="chapter">
<thead>
	<td>Chapters</td>
	<td>Views</td>
	{%if user.is_authenticated%}<td>Action</td>{%endif%}
</thead>
{% for chapter in queryset %}

	<tr class="content"><div>
    <td class="chapter-title"><a href="{{chapter.get_absolute_url}}">{{chapter.name}} {{chapter.number}}</a></td>
	<td class="chapter-view">{{chapter.views_cnt}}</td>
	{%if user.is_authenticated%}
	<td class="delete"><a href="{% url "chapter-delete" chapter.pk %}">delete</a></td>
	{%endif%}
   	</div>
    </tr>
{% endfor %}
</table>
</div>



{% endblock content %}

