{%extends 'layout.html'%}
{%load static%}

{%block head%}
<link rel="stylesheet" href="{% static "css/comic-list.css"%}">
<meta name="active-link" value="series-link">
<title>Series List | Fire Syndicate</title>
{%endblock head%}


{% block content %}

<div class= "section-heading">All Comics
	{%if user.is_authenticated%}
	<a href="{%url 'comic-create'%}" class="options">
	<img src="{%static 'assets/plus-symbol.svg'%}" class="icon" alt="Plus icon"> Add Comic<
	</a>
	{%endif%}
</div>
<div class="tile-wrapper">
{% for comic in object_list %}
			
	<div class="tile">
		{%if comic.cover%}

		<img src="{{comic.cover.url}}" class="comic-cover" alt="{{comic.title}} cover">
		{%endif%}

		<div class="comic-data">

			<a href="{% url "comic-detail" comic.pk%}"><h3>{{comic.title}}</h3></a>
			<div class="comic-detail">
				<p><strong>Author</strong> : {{comic.author}}</p>
				<p><strong>Artist</strong> : {{comic.artist}} </p>
				<p class="desc"><strong>Description</strong> : {{comic.description|truncatechars:140}}</p>

			</div>

		</div>

	</div>	

{%endfor%}
</div>

{% endblock content %}
