{%extends 'layout.html'%}
{% block content %}
{%load static%}

{%block css%}
<link rel="stylesheet" href="{% static "css/comic-list.css"%}">
{%endblock css%}

<h1>All Comics</h1>
<div clss="tile-wrapper">
{% for comic in object_list %}
			<a href="{% url "comic-detail" comic.pk%}">
				<div class="tile">
					{%if comic.cover%}

					<img src="{{comic.cover.url}}" class="comic-cover" height='200'>
					{%endif%}

					<div class="comic-data">
					<a href="{% url "comic-detail" comic.pk%}"><h3>{{comic.title}}</h3></a>

					<div class="comic-detail">
					<p>Author : {{comic.author}}</p>
					<p>Artist : {{comic.artist}}</p>
					<p>Views : {{comic.views_cnt}}</p>
					<a id="seemore" href="{% url "comic-detail" comic.pk%}"><h4>See more</h4></a>
					</div>
					</div>
				</div>	
			</a>

{%endfor%}
</div>

{% endblock content %}
