{% extends "layout.html" %}

{%load static%}

{%block head%}
	<link rel="stylesheet" href="{% static "css/comic-detail.css"%}">
	<meta name="active-link" value="series-link">
	<title>{{object_data.title}} | Fire Syndicate</title>
{%endblock head%}

{% block content %}



<div class= "comic-desc-div">
	
	{%if object_data.cover%}
	<img src= "{{object_data.cover.url}}" class="comic-cover" alt="{{comic.title}} cover"/>
	{%endif%}
	
	<div class="comic-desc">
		<h1>{{object_data.title}}</h1>
		<p><strong>Author : </strong>{{object_data.author}}</p>
		<p><strong>Artist : </strong>{{object_data.artist}}</p>
		<p><strong>Tags : </strong>{%for tag in object_data.getAllTags%}<span class="tag-span">{{tag}}</span>{%empty%} No tags, nope not at all. {%endfor%}</p>
		<p><strong>Description :</strong>{{object_data.description|linebreaks}}</p>
		<p><strong>Views : </strong>{{object_data.views_cnt}}</p><br>
		{%if user.is_authenticated%}
		<a class="btn primary-btn" href="{% url "chapter-create" object_data.pk%}">Upload a Chapter</a>
		<a class="btn" href="{% url "comic-update" object_data.pk%}">Edit Details</a>
		{%endif%}

	</div>
</div>
<div class="hr"></div>

<div class="chapter-container">
	<h2>Chapters</h2>

	<table class="table-header">
		<td>Chapter ##</td>
		<td>Chapter Name</td>
		<td class="views-td">Views</td>
		{%if user.is_authenticated%}<td class="delete-td">Action</td>{%endif%}
		<td>Time</td>
	</table>

	<table class="content-table">
	{% for chapter in queryset %}

		<tr class="table-row" onclick="goto('{{chapter.get_absolute_url}}')">
		<td class="chapter-title">Chapter {{chapter.number|floatformat}}</a></td>
		<td>{{chapter.name|default_if_none:""}}</td>
		<td class="views-td">{{chapter.views_cnt}}</td>
		{%if user.is_authenticated%}
		<td class="delete-td"><a href="{% url "chapter-delete" chapter.pk %}">Delete</a><a href=#>Edit</a></td>
		{%endif%}
		<td>{{chapter.created_at|date:"SHORT_DATETIME_FORMAT"}}</td>
		</tr>
	{%empty%}
	<tr>No chapter available right now babe.</tr>
	{% endfor %}

	</table>



{% endblock content %}

