{% extends "layout.html" %}

{%load static%}

{%block head%}
<link rel="stylesheet" href="{% static "css/comic-viewer.css"%}">
<meta name="active-link" value="series-link">
{%endblock head%}

{% block content %}

<a href="{%url "comic-detail" object_data.comic.pk%}"><span class="comic-title"><strong>{{object_data.comic.title }}</strong></span></a>
<span class="chapter-title">Chapter {{object_data.number |floatformat}} - {{object_data.name}}</span>

<div class="image-wrapper">
{% for page in queryset %}
<img src='{{ page.image.url}}' class ="content-image"/>
{% endfor %}
</div>



{% endblock content %}