{% extends "layout.html" %}
{%load static%}

{%block head%}
<link rel="stylesheet" href="{% static "css/home.css"%}">
<meta name="active-link" value="home-link">
{%if request.GET.query%}
	<title>Search - {{request.GET.query}}| Fire Syndicate</title>
{%else%}
	<title>Fire Syndicate | Read Manga And Stuff</title>
{%endif%}
{%endblock head%}

{%block slider%}
{%if Slides|length%}

	<div class="slider-container">
		<div class="arrow left" id="left-arrow"><img src="{%static 'assets/left-arrow-slider.svg' %}" alt="left arrow"></div>
		<div class="arrow right" id="right-arrow"><img src="{%static 'assets/right-arrow-slider.svg' %}" alt="right arrow"></div>
		<div class="slider-content">
		{%for Slide in Slides%}
			<div class="slide" {%if Slide.comic.getLatestChapter%} onclick="goto('{%url "chapter-view" Slide.comic.getLatestChapter.pk %}')" {%endif%}  order="{{Slide.orderNumber}}">
					<div class="left-div">
					<div class="slide-content">
							<h1>{{Slide.comic.title}}</h1>
							<p>{{Slide.comic.description|truncatewords:35}}</p>
							{%if Slide.comic.getLatestChapter%}
							<a href= '{%url "chapter-view" Slide.comic.getLatestChapter.pk %}'> Read Chapter {{Slide.comic.getLatestChapter.number|floatformat}} </a>
							{%endif%}
					</div>
				</div>

					<img class="slide-image" src ={{Slide.image.url}} alt="Slide image {{slide.order}}"/>


			</div>
		{%endfor%}
		
		</div>
	</div>
{%endif%}
{%endblock slider%}



{%block content%}
{%if request.GET.query%}

		<div class="section">
			<div class ="section-heading">Search Results ({{SearchQuerySet|length}})</div>
			<div class ="tile-wrapper">
				{%if SearchQuerySet%}
				{%for comic in SearchQuerySet%}
				
				<div class="tile"> 
					{%if comic.cover%}
					<a href="{% url "comic-detail" comic.pk%}">
					<img src="{{comic.cover.url}}" class="comic-cover" alt="{{comic.title}} cover"></a>
					{%endif%}
					<div class="tile-overlay">
						<p onclick="goto('{% url 'comic-detail' comic.pk %}')" class="tile-title">{{comic.title|capfirst}}</p>
					</div>
				</div>
				
				{%endfor%}
				{%else%}
				<h3>No results found.</h3>
				{%endif%}

			</div>
		</div>
{% else %}




<div class="section">
	<div class ="section-heading">Latest</div>
	<div class ="tile-wrapper">
		{% for chapter in LatestChapters %}
	
		<div class="tile"> 
	
			{%if chapter.comic.cover%}
			<a href="{% url "chapter-view" chapter.pk%}">
			<img src="{{chapter.comic.cover.url}}" class="comic-cover" height='300' alt="{{comic.title}} cover"></a>
			{%endif%}

				<div class="tile-overlay">
				<p onclick="goto('{% url 'comic-detail' chapter.comic.pk %}')" class="tile-title">{{chapter.comic.title|capfirst}}</p>
				<p onclick="goto('{% url 'chapter-view' chapter.pk%}')" class="tile-ch-line">Chapter {{chapter.number |floatformat}}</p>
			</div> 				
		</div>
		{% endfor %}
		
	</div>
	

</div>

<div class="section">
	<div class ="section-heading">Popular</div>
	<div class="tile-wrapper">

		{% for comic in PopularComics %}			
		
			<div class="tile"> 
				{%if comic.cover%}
				<a href="{% url "comic-detail" comic.pk%}">
				<img src="{{comic.cover.url}}" class="comic-cover" height='300'alt="{{comic.title}} cover"></a>
				{%endif%}
				<div class="tile-overlay">
				<p onclick="goto('{% url 'comic-detail' comic.pk %}')" class="tile-title">{{comic.title|capfirst}}</p>
			</div>
			</div>
		
		{% endfor %}
	<div>
</div>
{%endif%}
<script src="{%static 'js/home.js'%}"> </script>
{%endblock%}