{% extends "layout.html" %}
{%load static%}

{%block head%}
<link rel="stylesheet" href="{% static "css/home.css"%}">
<meta name="active-link" value="home-link">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
{%if request.GET.query%}
	<title>Search - {{request.GET.query}}| Fire Syndicate</title>
{%else%}
	<title>Fire Syndicate | Read Manga And Stuff</title>
{%endif%}
{%endblock head%}

{%block slider%}
{%if Slides|length%}

	<div class="slider-container">
		<div class="arrow-slider left" id="slider-left-arrow"><img src="{%static 'assets/left-arrow-slider.svg' %}" alt="left arrow"></div>
		<div class="arrow-slider right" id="slider-right-arrow"><img src="{%static 'assets/right-arrow-slider.svg' %}" alt="right arrow"></div>
		<div class="slider-content">
		{%for Slide in Slides%}
			<div class="slide" {%if Slide.comic.getLatestChapter%} onclick="goto('{%url "chapter-view" Slide.comic.getLatestChapter.pk %}')" 
								{%elif Slide.blog_post.title is not None %} onclick="goto('{%url "post-detail" Slide.blog_post.pk %}')"
								{%elif slide.link is not None%}	onclick="goto('{{slide.link}}')" {%endif%} 
			 order="{{Slide.orderNumber}}">
					<div class="left-div">
					<div class="slide-content">
							{%if Slide.comic.title is not None%} {% comment %}           If Comic is there        {% endcomment %}
							<h1>{{Slide.comic.title}}</h1>
							<p>{{Slide.comic.description|truncatewords:35}}</p>
								{%if Slide.comic.getLatestChapter%}
								<a href= '{%url "chapter-view" Slide.comic.getLatestChapter.pk %}'> Read Chapter {{Slide.comic.getLatestChapter.number|floatformat}} </a>
								{%endif%}

							{% elif Slide.blog_post.title is not None %}	{% comment %}           If Blog post is there        {% endcomment %}
							<h1>{{Slide.blog_post.title}}</h1>
							{{Slide.blog_post.body|safe|truncatewords_html:35}}
							<a href= '{%url "post-detail" Slide.blog_post.pk %}'>Read More </a>

							{%else%}
							else
							<h1>{{Slide.title}}</h1>
							<p>{{Slide.description|truncatewords:35}}</p>
							{%endif%}
											
					</div>
				</div>

					<img class="slide-image" src ={{Slide.image.url}} alt="Slide image {{slide.order}}"/>


			</div>
		{%endfor%}
			
		</div>
	</div>
{%endif%}
{%endblock slider%}



{%block content%}
{%if Posts%}
<div class="section">
<div class="section-heading">Blog Stuff</div>
<div class="arrow-blog" id ="blog-left-arrow"><img src="{%static 'assets/left-arrow-2.svg'%}"></div>
	<div class="post-container">
	
	<div class="post-content">
	{%for post in Posts%}
		<div class="post-tile" onclick="goto('{%url 'post-detail' post.pk%}')">
			<h2>{{post.title|capfirst}}</h2>
			<span class="post-type">{{post.get_post_type_display}}</span>
			<div class="post-body">
			{{post.body|safe|truncatechars_html:100}}
			</div>
			<span class="timestamp">{{post.created_at|timesince}} ago</span>
		</div>
	{%endfor%}
	<div class="post-tile" onclick="goto('{%url 'blog-list'%}')"><h1>More</h1></div>
	</div>
	</div>
	<div class="arrow-blog right" id="blog-right-arrow"><img src="{%static 'assets/right-arrow-2.svg'%}"></div>
</div>
{%endif%}

<div class="section">
	<div class ="section-heading">Latest</div>
	<div class ="tile-wrapper">
		{% for chapter in LatestChapters %}
	
		<div class="tile"> 
	
			{%if chapter.comic.cover%}
			<a href="{% url "chapter-view" chapter.pk%}">
			<img src="{{chapter.comic.cover.url}}" class="comic-cover" height='300' alt="{{comic.title}} cover"></a>
			{%endif%}

				<div class="tile-overlay">
				<p onclick="goto('{% url 'comic-detail' chapter.comic.pk %}')" class="tile-title">{{chapter.comic.title|capfirst}}</p>
				<p onclick="goto('{% url 'chapter-view' chapter.pk%}')" class="tile-ch-line">Chapter {{chapter.number |floatformat}}</p>
			</div> 				
		</div>
		{% endfor %}
		
	</div>
	

</div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4422796611007720",
    enable_page_level_ads: true
  });
</script>

<div class="section">
	<div class ="section-heading">Popular</div>
	<div class="tile-wrapper">

		{% for comic in PopularComics %}			
		
			<div class="tile"> 
				{%if comic.cover%}
				<a href="{% url "comic-detail" comic.pk%}">
				<img src="{{comic.cover.url}}" class="comic-cover" height='300'alt="{{comic.title}} cover"></a>
				{%endif%}
				<div class="tile-overlay">
				<p onclick="goto('{% url 'comic-detail' comic.pk %}')" class="tile-title">{{comic.title|capfirst}}</p>
			</div>
			</div>
		
		{% endfor %}
	<div>
</div>
<script src="{%static 'js/home.js'%}"> </script>
{%endblock%}