{% extends "layout.html" %}
{%load static%}

{%block head%}
<link rel="stylesheet" href="{% static "css/home.css"%}">
<meta name="active-link" value="home-link">
{%endblock head%}


{%block content%}
<div class="section">
	<div class ="section-heading">Lastest </div>
		<div class ="tile-wrapper">
			{% for chapter in LatestChapters %}
		<a href="{% url "chapter-view" chapter.pk%}">
			<div class="tile"> 
		
				{%if chapter.comic.cover%}

				<img src="{{chapter.comic.cover.url}}" class="comic-cover" height='300'>
				{%endif%}

					<div id="tile-title">
					<a href="{% url "comic-detail" chapter.comic.pk %}">{{chapter.comic.title}}</a> | <a href="{% url "chapter-view" chapter.pk%}"> Chapter {{chapter.number |floatformat}}</span></a>
				</div> 				
			</div>
			{% endfor %}
			
		</div>
	</a>

</div>

<div class="section">
		<div class ="section-heading">Popular</div>
			{% for comic in PopularComics %}
			<a href="{% url "comic-detail" comic.pk%}">
				<div class="tile"> 
					{%if comic.cover%}

					<img src="{{comic.cover.url}}" class="comic-cover" height='300'>
					{%endif%}
					<div id="tile-title">
					<a  href="{% url "comic-detail" comic.pk%}">{{comic.title}}</a>
				</div>
				</div>
			</a>
			{% endfor %}
</div>




{%endblock%}