{% extends "layout.html" %}

{%load static%}

{%block head%}
<link rel="stylesheet" href="{% static "css/comic-viewer.css"%}">
<meta name="active-link" value="series-link">
<title>{{object_data.comic.title }} - {{object_data.number |floatformat}}| Fire Syndicate</title>
{%endblock head%}

{% block content %}


<div class="title-row">
<a href="{%url "comic-detail" object_data.comic.pk%}"><span class="comic-title"><strong>{{object_data.comic.title|capfirst }}</strong></span></a>
<span class="chapter-title">Chapter {{object_data.number |floatformat}} - {{object_data.name}}</span>
</div>


<div class="prev-next">{%if prevCh%}<a class ="btn left" href="{%url 'chapter-view' prevCh.pk %}"><img src="{%static 'assets/left-arrow-2-primary.svg'%}"></a>{% endif %}

{%if nextCh%}<a class ="btn right" href="{%url 'chapter-view' nextCh.pk %}"><img src="{%static 'assets/right-arrow-2-primary.svg'%}"></a>{% endif %}</div>

<div class="image-wrapper">
{% for page in queryset %}
<img src='{{ page.image.url}}' class ="content-image" alt="Page {{page.number}}"/>
{% endfor %}
</div>

<div class="prev-next">{%if prevCh%}<a class ="btn left" href="{%url 'chapter-view' prevCh.pk %}"><img src="{%static 'assets/left-arrow-2-primary.svg'%}"></a>{% endif %}
{%if nextCh%}<a class ="btn right" href="{%url 'chapter-view' nextCh.pk %}"><img src="{%static 'assets/right-arrow-2-primary.svg'%}"></a>{% endif %}</div>



{% endblock content %}