.content-image{
		width :100%;
	max-width: 900px;
	min-width: 400px;
}

.image-wrapper
{
	text-align: center;
	line-height: 0px;
}

.title-row
{
	
	font-size: 20px;
	margin:10px;
	display: flex;
	justify-content: space-between;
}

.comic-title
{	
	display: inline-block;
}
.chapter-title
{
	display: inline-block;
}
.prev-next
{
	padding: 0px 10px;
	margin:30px 0;
}

@media(max-width:600px)
{
	.content-image{
		width: 100vw;
		min-width: unset;
		margin-left: -40px;
		margin-right: -40px;
	}
}