
.comic-desc-div
{
	margin-top: 100px;
	display: flex;
}


.comic-cover
{ 	
	height: 400px;
	width: 286px;
	object-fit: cover;

}

.comic-desc
{
	margin-left: 30px;
}

.comic-desc h1
{
	font-size: 36px;
	margin-bottom: 15px;
}

.comic-desc p 
{
	line-height: 1.5rem;
	margin-top: 10px;
}

.tag-span
{
	padding: 6px;
    margin: 4px;
    font-size: 15px;
    background: #e5e6e8;
    border-radius: 6px;
}

/* buttons */

.btn
{
    font-size: 14px;
    padding: 14px 30px;
    display: inline-block;
    margin: 10px 0px;
    margin-right: 10px;
    background-color: #ccc;
	transition: all 50ms ease-in-out;
}

.btn:hover
{
	filter: brightness(105%);
}

.btn:active
{
	transform: scale(0.98);
}
.primary-btn,
.primary-btn:visited
{
	color: white;
	background-color: var(--primary-accent-color)
}

.hr
{
	height: 2px;
    margin: 50px 0px;
    background-color: #707070;
    opacity: 0.07;
}
/* Chapter stuff */

.chapter-container
{
	margin-top: 75px;
}

.chapter-container h2
{
	font-size: 25px;
}



.table-header
{
	padding: 50px;
	width: 100%;
	padding-bottom: 10px;
	border-spacing: 0px;
}

.table-header tr
{
	box-shadow: 0px 4px 5px -3px #56565663;
}
.table-header td
{
	background-color: var(--primary-accent-color);
	color: white;	
}

.content-table
{
	border-spacing: 0 6px;
	padding: 0 50px;
    width: 100%;
    margin-top: -10px;
}

.table-row
{
	background-color: #70707015;
	cursor: pointer;
}

.table-row:hover
{
	background-color: #70707020;
}


td
{
	color: #707070;
	width: 20%;
	padding: 11px;
    padding-left: 25px;
	font-size: 15px;
}

.views-td,
.delete-td
{
	width: 10%;
}

td a
{
	margin-right: 10px; 
}

td a:hover
{
	filter: brightness(70%);
}