h2{

	margin: 20px  0px;
	font-size: 25px;
}

.comic-desc
{
	display: inline-block;
	margin-left: 20px;
	line-height: 30px;


}

.comic-cover
{ 	
	
	display: inline-block;
	height: 400px;
	width: 286px;
	object-fit: cover;

}

table
{
	width: 100%;
	margin-bottom: 100px;
}

.comic-desc-div
{
	display: flex;

}



table td
{
	height: 35px;
	padding-left: 10px;
	
}
table tr
{
	height: 35px;

}

table .content:hover 
{
	background: #e5e6e8;
}


.chapter-container span
{
	display: inline-flex;
	margin: 20px;
}
table thead{
	background-color: #008ed6;
	margin-left: 0px;
	margin-right: 0px;
	font-weight: bold;
	color: white;
}


td.delete
{
	margin-right: 20px;

}

@media(max-width:768px)
{
	.comic-desc-div
	{
		flex-wrap: wrap;
	}

	.comic-desc
	{
		margin-top: 20px;
	}
}