.section-heading
{   
	display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 30px;
    padding: 0 20px;
    padding-bottom: 10px;
}

.section
{
	margin-bottom: 50px;
	position: relative;
}

div .tile
{
	overflow: hidden;
	/*border: 1px solid;*/
	position: relative;
	display: inline-block;
	text-align: center;
	background: #1d1d1d;	
	margin: 20px;
	padding-bottom: 0px;
	box-shadow: 1px 1px 10px #e6eeef;
	transition: box-shadow 300ms cubic-bezier(0.29, 0.05, 0.81, 0.45);
}

.tile:hover, .tile:active
{
	box-shadow: 0px 0px 8px #ff6d0d54;
}


.tile img
{
	transition: opacity 200ms ease-in-out;
	display: block;
	width: 200px;
	object-fit: cover;
	height: 280px;
}

.tile-overlay
{
	text-align: left;
	color: white;
	left: 20px;
	bottom: 20px;
	position: absolute;
	font-size: 13px;
	margin: 7px 3px;
	display: inline-block; 
	font-family: "raleway";
	font-weight: 300;
}

.tile-title
{
	color: #ff6d0d;
	cursor: pointer;
    font-weight: bold;
    font-size: 34px;
	padding-bottom: 11px;
	transition: transform 200ms ease-in-out 50ms;
	transform: translateX(calc(-100% - 30px))
}
.tile-ch-line{
	transition: transform 200ms ease-in-out 50ms;
	transform: translateX(calc(-100% - 30px))

}

/* WERID WAYS OF ANIMATION */

.tile:hover > div .tile-title ,.tile:active > div .tile-title
{
	transform: translateX(0%);
}
.tile:hover > div .tile-ch-line
{
	transform: translateX(0%);
}

.tile:hover > a .comic-cover
{
	opacity: 0.4;
}

/* SLIDER STUFF */

.slider-container
{
	position: relative;
	overflow: hidden;

}
.slider-content
{
	display: flex;
}
.slide
{
	overflow: hidden;
	width: 100%;
	flex-shrink: 0;
	flex-grow: 0;
	position: relative;
	cursor: pointer;
    height: 430px;
	color: white;
	transition : trasform 300ms ease-in-out;

}



.slide .left-div
{
	clip-path: polygon(0 0, 55% 0, 45% 100%, 0 100% );
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	background-color: #ff6d0d;
}

.image-link
{
	height: 100%;
	width: 100%;
	display: inline-block;
}
.slide-image{
	z-index: -1;
	position: absolute;
	top:0;
	right: 0;
	height: 100%;
}

.slide p
{
	margin-top:20px;
	padding-bottom: 25px;
	line-height: 1.6rem;
}
.slide-content
{
	padding-left: 50px;

	padding-right:57vw;
	max-width: 1500px;
}

/* Blog stuff */
.post-content
{
	display: flex;
}
.post-tile
{
	cursor: pointer;
	flex-shrink: 0;
	display: inline-block;
	position: relative;
	height: 160px;
	margin: 15px 20px;
    width: 450px;
	padding: 15px 20px;
    box-shadow: 1px 1px 10px #e6eeef;
}

.post-tile .timestamp
{
	font-size: 12px;
	color: gray;
	position: absolute;
	bottom: 15px;
	right:20px;
}

.post-tile h2
{
	width: 290px;
	font-size: 18px;
	display: inline-block;
}
.post-body
{
	margin-top: 10px;
    font-size: 14px;
}
.post-type
{
	margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 1px;
    float: right;
    font-size: 11px;
    padding: 5px 10px;
    color: #ffffff;
    background-color: var(--secondary-accent-color);
}
.post-tile p
{   

	line-height: 22px;
    padding: 2px 0;
    letter-spacing: 0.4px;
}
.post-container
{
	position: relative;
	overflow: hidden;
	width: 98.5%;
}
.post-tile h1
{
	color: #ff6d0d;
    font-size: 25px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-9%,-50%);
}

.arrow-blog
{	
	margin: 0 -20px;
    border-radius: 100px;
	display: flex;
	justify-content: center;
	flex-direction:column ;
	align-items: center;
	z-index: 100;
	position: absolute;
    height: 55px;
    width: 55px;
	background-color: #ffffff;
	opacity: 0.15;
	transition: opacity 150ms ease-in;
	border: 1px #00000057 solid;
	top: 140px;
    transform: translateY(-50%);
}

.arrow-blog:hover
{
	opacity: 1;
	background-color: white;

}

.arrow-blog:active
{
	background-color: #00000011;
    opacity: 1;
}

.arrow-blog img
{
	width: 50%
}

@media(min-width: 1500px)
{
	.slide-content
	{
		margin-left: calc(50vw - 1500px/2);
		padding-right: calc(56vw + 1500px/2 - 50vw)
	}
}
.slide-content a
{
	color: white;
	position: absolute;
	bottom: 50px;
}

.arrow-slider
{

	display: flex;
	justify-content: center;
	flex-direction:column ;
	align-items: center;
	z-index: 100;
	position: absolute;
	height: 100%;
	width: 100px;
	opacity: 0.1;
	transition: opacity 150ms ease-in;
}
.arrow-slider:hover
{
	opacity: 1;
	background-color: #ffffff11;
	box-shadow: -1px 0px 19px 1px #0000001c

}

.arrow-slider:active
{
	background-color: #00000011;
    opacity: 1;
}
.right
{
	right: 0;
}
.arrow-slider img
{
	width: 50%
}

@media(max-width:768px)
{
	.tile-wrapper
	{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.slider-container
	{
		margin: 56px 0;
		z-index: 1;
	}

	.slide
	{
		height: 290px;
		font-size: 0.8rem;
	}
	.slide-content
	{
		padding-left: 5vw;
	}
	.slide-content p
	{
		display: none;
		max-height: 100px;
		text-overflow: ellipsis;
		white-space: pre-wrap;
		overflow: hidden;
		line-height: 0.7rem;
	}
	.slide-content h1
	{
		margin: 0;
		padding-bottom: 20px;
	}

}