*
{
	font-family : "open sans";
	margin: 0px;
}
a
{	text-decoration: none;

}

a:visited
{
	color: transparent;
}

a:hover
{
	color:rgb(100,100,200);
}

.wrapper
{
	max-width: 1380px;
	align-self: center;
	width: 100%;
	margin : auto;
}
body
{

}



nav
{
background: #008ed6;
overflow: visible;
width: 100%;
color: white;
}
.nav-content
{
	display: block;
	max-width: 1380px;
	margin : 0 auto;
}

.nav-links a
{
	color: white;

}
.nav-links{
	margin-top :20px;
	display: inline-block;
	float:right;
	height: %;

}

.nav-links li
{
	display: inline-block;
	margin-right: 30px;
}

.wrapper
{
	padding-top: 50px; 
}

.site-name
{
	padding: 10px;
	padding-left: 0px; 
	font-size : 30px;
	display: inline-block;
	font-weight: 300;
}

.site-name p
{
 
	font-size : 30px;
}