:root
{
	--primary-accent-color : #FF6D0D;
	--secondary-bg-color : #292826;
	--tertiary-bg-color : #5A5957;
	font-size:16px;
}


*{
	margin: 0px;
	box-sizing: border-box;
	padding: 0px;
	font-family: raleway;
}

body
{
	min-width: 300px;
}

a
{
	text-decoration: none;
}

a:visited
{
	color:black;
}
a:link
{
	color:black;
}

 header
{
	background-color: var(--secondary-bg-color);
	font-family: Raleway;
	color: white;
} 

.site-name
{
	text-align: center;
	background-color: var(--secondary-bg-color);
	font-family: Raleway;
	color: white;
	padding: 2rem;
}

.site-name h1
{
	display: inline-block;
}


/* NAVIGATION BAR */
nav{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	background-color: var(--secondary-bg-color);
	font-family: Raleway;
	color: white;
	
}
nav ul
{
	
	list-style-type: none;
	display: flex;
	
}
.active-li
{
	background-color: var(--primary-accent-color);
}
nav a:visited
{
	color: white;
}
nav a:link
{
	color: white;
}
nav li
{
	padding: 10px 40px;
	font-size: 0.95rem;
	text-align: center;
}


nav li:hover
{
	background-color: var(--primary-accent-color);
}

.search
{
	padding-right: 40px;
}

@media(min-width:1500px)
{
	nav
	{
		
		width: 1500px;
		margin: auto;
	}
}


/*Content*/
.wrapper
{
	max-width: 1500px;
	padding: 0px 40px;
	margin: 50px auto;
}

/*Mobile styling*/

@media(max-width:900px)
{
	header
	{
		top:0%;
		position: fixed;
		width: 100vw;
	}
	.site-name
	{
		padding: 1rem;
		font-size: 10px;
	}
	nav
	{		
		flex-direction: column;	
		width: 50%;
		justify-content: flex-start;
		position: fixed;
		transform: translate(-100%);
		height: 100%;
		transition: transform 0.5s ease-in-out;
	}
	nav ul 
	{
		flex-direction: column;	
		width: 100%;
	}

	nav li
	{
		width: 100%;
	}
	.hamburger div
	{
		background-color: white;
		width: 18px;
		height: 2px;
		margin: 5px;
	}

	.hamburger
	{
		position: absolute;
		top: 1rem;
		left: 1.2rem;
	}

	.nav-active
	{
		transform: translate(0%);
	}

	.wrapper{
		margin-top: 100px;
	}	
}