:root
{
	--primary-accent-color : #FF6D0D;
	--secondary-bg-color : #292826;
	--tertiary-bg-color : #5A5957;
	font-size:16px;
}


*{
	margin: 0px;
	box-sizing: border-box;
	padding: 0px;
	font-family: raleway;
}

body
{
	min-width: 300px;
}

a
{
	text-decoration: none;
}

a:visited
{
	color:#707070;
}
a:link
{
	color:#707070;
}

 header
{
	background-color: var(--secondary-bg-color);
	font-family: Raleway;
	color: white;
} 

.site-name
{
	text-align: center;
	background-color: var(--secondary-bg-color);
	font-family: Raleway;
	color: white;
	padding: 2rem;
}

.site-name h1
{
	display: inline-block;
}


/* NAVIGATION BAR */
nav{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	background-color: var(--secondary-bg-color);
	font-family: Raleway;
	color: white;
	
}
nav ul
{
	
	list-style-type: none;
	display: flex;
	
}
.active-li
{
	background-color: var(--primary-accent-color);
}
nav a:visited
{
	color: white;
}
nav a:link
{
	color: white;
}
nav li
{
	padding: 10px 40px;
	font-size: 0.95rem;
	text-align: center;
	cursor: pointer;
}


nav li:hover
{
	background-color: var(--primary-accent-color);
}

.search
{
	padding-right: 40px;
}

.search-bar
{
	
	background-color: var(--secondary-bg-color);
	width: 0px;
	font-size: 0.95rem;
	color: white;
	
	border: none;
	transition: width 300ms ease-in;
}

.search-bar:focus-within
{

	border: none;
	border-bottom: #5A5957 1px solid;
	outline: none;
	width: 250px;
}
.search-bar:focus-within ~ .search-icon
{
	display: none;
}
.icon
{
	width: 1em;
	height: 1em;
	display: inline-block;
	cursor: pointer;
	margin: 0 9px;
}

/* Drop down menu stlyes */
.drop-down{
    position: absolute;
    transform: translate(-64px,-20px);
	background-color: #292826;
	display: none; 
	transition: transform 100ms ease-in-out;
	
}

.drop-down.active-dropdown
{
	display: block;
	transform: translate(-64px,11px);
	
	
}

.drop-down li
{
	width: 180px;
    text-align: left;
	padding: 10px 21px;
	
}

.drop-down li:hover
{
	background-color:#383735;
}

.drop-down span
{
	font-size: 0.95rem;
	padding: 10px 21px;
	display: block;
}



@media(min-width:1500px)
{
	nav
	{
		
		width: 1500px;
		margin: auto;
	}
}


/*Content*/
.wrapper
{
	max-width: 1500px;
	padding: 0px 40px;
	margin: 50px auto;
}

/*Mobile styling*/

@media(max-width:768px)
{
	header
	{
		top:0%;
		position: fixed;
		width: 100vw;
	}
	.site-name
	{
		padding: 1rem;
		font-size: 10px;
	}
	.active-li
	{
		box-shadow: 0px 10px 8px 0 #1d1d1d70;
	}
	nav
	{		
		flex-direction: column;	
		width: 250px;
		justify-content: center;
		position: fixed;
		overflow: hidden;
		transform: translateX(-100%);
		height: 100%;
		transition: transform 300ms ease-in-out;
		will-change: transform;
	}
	nav ul 
	{
		flex-direction: column;	
		margin-top: -100px;
		width: 100%;
	}

	nav li
	{
		width: 100%;
		margin: 10px 0;
		text-align: left;
		padding: 20px 25px;
	}

	.hamburger div
	{
		background-color: white;
		width: 18px;
		height: 2px;
		margin: 5px;
	}

	.hamburger
	{
		position: absolute;
		top: 1rem;
		left: 1.2rem;
	}

	.nav-active
	{
		transform: translate(0%);
		box-shadow: 3px 5px 8px 0 #1d1d1d6e;
	}

	.wrapper{
		margin-top: 100px;
		padding: 0 10px;
	}	

	.search
	{
		width: 100%;
		display: flex;
		margin: 10px 0;
		text-align: left;
		padding: 20px 25px;
	}
	.search-bar
	{
		width: 100%;
	}
	.search:hover, .search:hover .search-bar
	{
		background-color: var(--primary-accent-color);
	}

	.search-bar::placeholder
	{
		color: white;
	}
	.drop-down.active-dropdown
	{
		transform: translate(-20px,142px);
	}
}
