.wrapper
{
    display: grid;
    grid-template-columns: 3fr 2fr;
}

section
{
    position: relative;
    display: flex;
    flex-direction: column;
}

.right-section
{
    border-left: 1px solid #f1f1f1;
    flex-direction: row;
    padding: 10%;
    display: flex;
    align-items: center;
}

.right-section .section-heading
{
    margin: 0;
}


.section-heading
{   
	margin-top: 100px;
    justify-content: space-between;
    align-items: baseline;
    font-size: 30px;
    padding: 0 20px;
    padding-bottom: 10px;
}

#comic-combo-box
{
    display: none;
}

#comic-title
{
    font-size: 27px;
    
    margin: 15px 10px;
}
.upload-form span
{
    margin: 10px;
    display: inline-block;
    font-size: 20px;

}


.upload-form input, .upload-form
{
    margin: 10px 10px;
    font-size: 1.2rem;
}
.upload-form
{
    margin-top: 60px;
    margin-left: 60px;
    display: inline-block;

}

#ch-number, #ch-name, #vol-number,#discord-message
{
       padding: 5px 0px;
       border-style: none;
       border-bottom: 2px solid #70707061;
       transition: border 200ms ease-in;
}
#ch-number:focus, #ch-name:focus,
#vol-number:focus, #discord-message:focus
{
    outline: none;
    border-color: #FF6D0D;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#ch-number
{
    min-width: 25px;
    max-width: 100px;
    margin-left: 115px;
}

#vol-number
{
    margin-left: 97px;
    width: auto;
    max-width: 200px;
}

#ch-name{
    min-width: 60px;
    max-width: 200px;
}

.button
{
    margin-top: 30px;
    padding: 15px 70px;
    border-style: none;
}
.button:hover
{
    opacity: 0.9;
}

.primary-btn
{
    margin-top:80px !important;
    background-color: #FF6D09;
    float: right;
    margin-right: 25px !important;
    color: white;
}

.errorlist
{
    list-style: none;
    color: #292826;
    padding: 10px;
    background: #f1f1f1;
}

.guide-ul
{
    padding-left: 40px;
    line-height: 1.5;
    margin-top: 20px;
}

.guide-ul >li
{
    margin: 10px 0px;
}

@media(max-width:768px)
{
    .upload-form [type ="file"]
    {
        font-size: 15px;
        width: 230px;
    }


}

@media(max-width:400px)
{
    .upload-form
    {
       
        padding: 0px;
        border-style: none;
    }


}

@media(max-width: 1150px)
{
    .wrapper
    {
        display: flex;
        flex-direction: column-reverse;
    }

    .right-section
    {
        border-left-style: none;
        border-bottom: 1px solid #f1f1f1;
        flex-direction: row;
        padding: 10%;
        display: flex;
        align-items: center;
    }

    
}